.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card-labo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--spacing-md);

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }

    @media (width <= $breakpoint-sm) {
        display: block;

        a {
            margin-bottom: 100px;
        }
    }
}

.card__media {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 16px;
    }

    aspect-ratio: 594/490;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (width <= $breakpoint-md) {
        margin: 30px 0 100px 0;
    }

    h3,
    p,
    a {
        margin: 0px;
    }

    a {
        font-weight: bold;
        font-size: 16px;
        color: var(--color-black);
        background-color: var(--color-primary);

        width: 255px;
        border-radius: 100px;
        padding: 8px;
        text-align: left;
    }

    a:hover {
        text-decoration: none;
        color: var(--color-white);
    }
}
