footer {
    padding: 80px;
    text-align: center;

    nav {
        .icon {
            height: 48px;
            width: 48px;

            margin: 0 20px;
        }
    }
}

.titre {
    font-size: 56px;

    margin: 0;
}
