.header {
    padding: 25px 0;
    text-align: center;
    background: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    width: 100%;
    z-index: 2;
}

a {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: var(--font-header);
}

a:hover {
    text-decoration: none;
}
