{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero section">
    <div class="wrapper">
        <div class="card__media-hero"><img src="assets/images/florian-olivo-4hbJ-eymZ1o-unsplash-1024x683.jpg" alt="Img__Hero" /></div>
        <div class="card__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>
        <div class="cards">
            <div class="card-labo">
                <div class="card__media"><img src="assets/images/labo_revision.png" alt="sem01" /></div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Ce laboratoire est une révision rapide des
                        <span>deux premières sessions de conception web.</span>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://acorriveau.dectim.ca/cours/cw3/sem01/">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card-labo">
                <div class="card__media"><img src="assets/images/labo_timtools.png" alt="" /></div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        Ce laboratoire s’agit du tout premier labo où nous avons
                        <span>commencé à utiliser l’outil de notre programme : TimTools.</span>
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="https://acorriveau.dectim.ca/cours/cw3/sem02/Intro%20timtools/">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card-labo">
                <div class="card__media"><img src="assets/images/labo_portefolio.png" alt="" /></div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        Pour celui-ci, il s’agissait d’un autre laboratoire de révision portant sur
                        <span>les nouvelles façons d’organiser notre code.</span>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://acorriveau.dectim.ca/cours/cw3/sem03/">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card-labo">
                <div class="card__media"><img src="assets/images/labo_icone.png" alt="" /></div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Pour ce labo, nous avons commencé à utilier le
                        <span>javascript pour l'application d'icônes en général.</span>
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="https://acorriveau.dectim.ca/cours/cw3/sem04/">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="swipper">
    <h2>Mes <span>laboratoires réactifs</span></h2>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card-labo">
                        <div class="card__media"><img src="assets/images/labo_icone.png" alt="" /></div>
                        <div class="card__content">
                            <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                            <p>
                                Pour ce labo, nous avons commencé à utilier le
                                <span>javascript pour l'application d'icônes en général.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="https://acorriveau.dectim.ca/cours/cw3/sem04/">
                                VOIR LE LABORATOIRE
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="swiper-slide">
                <div class="card-labo">
                        <div class="card__media"><img src="assets/images/labo_icone.png" alt="" /></div>
                        <div class="card__content">
                            <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                            <p>
                                Pour ce labo, nous avons commencé à utilier le
                                <span>javascript pour l'application d'icônes en général.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="https://acorriveau.dectim.ca/cours/cw3/sem04/">
                                VOIR LE LABORATOIRE
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="swiper-slide">
                <div class="card-labo">
                        <div class="card__media"><img src="assets/images/labo_icone.png" alt="" /></div>
                        <div class="card__content">
                            <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                            <p>
                                Pour ce labo, nous avons commencé à utilier le
                                <span>javascript pour l'application d'icônes en général.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="https://acorriveau.dectim.ca/cours/cw3/sem04/">
                                VOIR LE LABORATOIRE
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
            </div>
        
        </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

{% include "_partials/_footer.html" %}
